#define CHORD(NAME, BINDINGS, KEYPOS) \
        chord_##NAME { \
            timeout-ms = <100>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <0>; \
        };

CHORD(c_t, &macro_c_t, 26 33)
CHORD(s_c_t, &macro_s_c_t, 26 36)
CHORD(c_a, &macro_c_a, 27 33)
CHORD(s_c_a, &macro_s_c_a, 27 36)
CHORD(c_y, &macro_c_y, 12 33)
CHORD(s_c_y, &macro_s_c_y, 12 36)
CHORD(c_h, &macro_c_h, 13 33)
CHORD(s_c_h, &macro_s_c_h, 13 36)
CHORD(c_h_, &macro_c_h_, 13 33 34)
CHORD(s_c_h_, &macro_s_c_h_, 13 36 34)
CHORD(c_h__, &macro_c_h__, 13 33 32)
CHORD(s_c_h__, &macro_s_c_h__, 13 36 32)
CHORD(c_h___, &macro_c_h___, 13 33 35)
CHORD(s_c_h___, &macro_s_c_h___, 13 36 35)
CHORD(c_ta, &macro_c_ta, 26 27 33)
CHORD(s_c_ta, &macro_s_c_ta, 26 27 36)
CHORD(c_yo, &macro_c_yo, 12 3 33)
CHORD(s_c_yo, &macro_s_c_yo, 12 3 36)
CHORD(c_hs, &macro_c_hs, 13 25 33)
CHORD(s_c_hs, &macro_s_c_hs, 13 25 36)
CHORD(c_c, &macro_c_c, 15 33)
CHORD(s_c_c, &macro_s_c_c, 15 36)
CHORD(c_b, &macro_c_b, 6 33)
CHORD(s_c_b, &macro_s_c_b, 6 36)
CHORD(c_w, &macro_c_w, 2 33)
CHORD(s_c_w, &macro_s_c_w, 2 36)
CHORD(c_te, &macro_c_te, 26 29 33)
CHORD(s_c_te, &macro_s_c_te, 26 29 36)
CHORD(c_ts, &macro_c_ts, 26 25 33)
CHORD(s_c_ts, &macro_s_c_ts, 26 25 36)
CHORD(c_wi, &macro_c_wi, 2 16 33)
CHORD(s_c_wi, &macro_s_c_wi, 2 16 36)
CHORD(c_s, &macro_c_s, 25 33)
CHORD(s_c_s, &macro_s_c_s, 25 36)
CHORD(c_s_, &macro_c_s_, 25 33 34)
CHORD(s_c_s_, &macro_s_c_s_, 25 36 34)
CHORD(c_s__, &macro_c_s__, 25 33 32)
CHORD(s_c_s__, &macro_s_c_s__, 25 36 32)
CHORD(c_s___, &macro_c_s___, 25 33 35)
CHORD(s_c_s___, &macro_s_c_s___, 25 36 35)
CHORD(c_m, &macro_c_m, 14 33)
CHORD(s_c_m, &macro_s_c_m, 14 36)
CHORD(c_m_, &macro_c_m_, 14 33 34)
CHORD(s_c_m_, &macro_s_c_m_, 14 36 34)
CHORD(c_m__, &macro_c_m__, 14 33 32)
CHORD(s_c_m__, &macro_s_c_m__, 14 36 32)
CHORD(c_m___, &macro_c_m___, 14 33 35)
CHORD(s_c_m___, &macro_s_c_m___, 14 36 35)
CHORD(c_ti, &macro_c_ti, 26 16 33)
CHORD(s_c_ti, &macro_s_c_ti, 26 16 36)
CHORD(c_al, &macro_c_al, 27 4 33)
CHORD(s_c_al, &macro_s_c_al, 27 4 36)
CHORD(c_u, &macro_c_u, 5 33)
CHORD(s_c_u, &macro_s_c_u, 5 36)
CHORD(c_u_, &macro_c_u_, 5 33 34)
CHORD(s_c_u_, &macro_s_c_u_, 5 36 34)
CHORD(c_u__, &macro_c_u__, 5 33 32)
CHORD(s_c_u__, &macro_s_c_u__, 5 36 32)
CHORD(c_u___, &macro_c_u___, 5 33 35)
CHORD(s_c_u___, &macro_s_c_u___, 5 36 35)
CHORD(c_wn, &macro_c_wn, 2 28 33)
CHORD(s_c_wn, &macro_s_c_wn, 2 28 36)
CHORD(c_he, &macro_c_he, 13 29 33)
CHORD(s_c_he, &macro_s_c_he, 13 29 36)
CHORD(c_tm, &macro_c_tm, 26 14 33)
CHORD(s_c_tm, &macro_s_c_tm, 26 14 36)
CHORD(c_tm_, &macro_c_tm_, 26 14 33 34)
CHORD(s_c_tm_, &macro_s_c_tm_, 26 14 36 34)
CHORD(c_wo, &macro_c_wo, 2 3 33)
CHORD(s_c_wo, &macro_s_c_wo, 2 3 36)
CHORD(c_se, &macro_c_se, 25 29 33)
CHORD(s_c_se, &macro_s_c_se, 25 29 36)
CHORD(c_o, &macro_c_o, 3 33)
CHORD(s_c_o, &macro_s_c_o, 3 36)
CHORD(c_tae, &macro_c_tae, 26 27 29 33)
CHORD(s_c_tae, &macro_s_c_tae, 26 27 29 36)
CHORD(c_tae_, &macro_c_tae_, 26 27 29 33 34)
CHORD(s_c_tae_, &macro_s_c_tae_, 26 27 29 36 34)
CHORD(c_tae__, &macro_c_tae__, 26 27 29 33 32)
CHORD(s_c_tae__, &macro_s_c_tae__, 26 27 29 36 32)
CHORD(c_tae___, &macro_c_tae___, 26 27 29 33 35)
CHORD(s_c_tae___, &macro_s_c_tae___, 26 27 29 36 35)
CHORD(c_wl, &macro_c_wl, 2 4 33)
CHORD(s_c_wl, &macro_s_c_wl, 2 4 36)
CHORD(c_g, &macro_c_g, 17 33)
CHORD(s_c_g, &macro_s_c_g, 17 36)
CHORD(c_g_, &macro_c_g_, 17 33 34)
CHORD(s_c_g_, &macro_s_c_g_, 17 36 34)
CHORD(c_g__, &macro_c_g__, 17 33 32)
CHORD(s_c_g__, &macro_s_c_g__, 17 36 32)
CHORD(c_g___, &macro_c_g___, 17 33 35)
CHORD(s_c_g___, &macro_s_c_g___, 17 36 35)
CHORD(c_tem, &macro_c_tem, 26 29 14 33)
CHORD(s_c_tem, &macro_s_c_tem, 26 29 14 36)
CHORD(c_go, &macro_c_go, 17 3 33)
CHORD(s_c_go, &macro_s_c_go, 17 3 36)
CHORD(c_p, &macro_c_p, 20 33)
CHORD(s_c_p, &macro_s_c_p, 20 36)
CHORD(c_p_, &macro_c_p_, 20 33 34)
CHORD(s_c_p_, &macro_s_c_p_, 20 36 34)
CHORD(c_k, &macro_c_k, 11 33)
CHORD(s_c_k, &macro_s_c_k, 11 36)
CHORD(c_k_, &macro_c_k_, 11 33 34)
CHORD(s_c_k_, &macro_s_c_k_, 11 36 34)
CHORD(c_k__, &macro_c_k__, 11 33 32)
CHORD(s_c_k__, &macro_s_c_k__, 11 36 32)
CHORD(c_k___, &macro_c_k___, 11 33 35)
CHORD(s_c_k___, &macro_s_c_k___, 11 36 35)
CHORD(c_ya, &macro_c_ya, 12 27 33)
CHORD(s_c_ya, &macro_s_c_ya, 12 27 36)
CHORD(c_ya_, &macro_c_ya_, 12 27 33 34)
CHORD(s_c_ya_, &macro_s_c_ya_, 12 27 36 34)
CHORD(c_i, &macro_c_i, 16 33)
CHORD(s_c_i, &macro_s_c_i, 16 36)
CHORD(c_hi, &macro_c_hi, 13 16 33)
CHORD(s_c_hi, &macro_s_c_hi, 13 16 36)
CHORD(c_me, &macro_c_me, 14 29 33)
CHORD(s_c_me, &macro_s_c_me, 14 29 36)
CHORD(c_so, &macro_c_so, 25 3 33)
CHORD(s_c_so, &macro_s_c_so, 25 3 36)
CHORD(c_tr, &macro_c_tr, 26 18 33)
CHORD(s_c_tr, &macro_s_c_tr, 26 18 36)
CHORD(c_tn, &macro_c_tn, 26 28 33)
CHORD(s_c_tn, &macro_s_c_tn, 26 28 36)
CHORD(c_we, &macro_c_we, 2 29 33)
CHORD(s_c_we, &macro_s_c_we, 2 29 36)
CHORD(c_tk, &macro_c_tk, 26 11 33)
CHORD(s_c_tk, &macro_s_c_tk, 26 11 36)
CHORD(c_tk_, &macro_c_tk_, 26 11 33 34)
CHORD(s_c_tk_, &macro_s_c_tk_, 26 11 36 34)
CHORD(c_tk__, &macro_c_tk__, 26 11 33 32)
CHORD(s_c_tk__, &macro_s_c_tk__, 26 11 36 32)
CHORD(c_tk___, &macro_c_tk___, 26 11 33 35)
CHORD(s_c_tk___, &macro_s_c_tk___, 26 11 36 35)
CHORD(c_ce, &macro_c_ce, 15 29 33)
CHORD(s_c_ce, &macro_s_c_ce, 15 29 36)
CHORD(c_ce_, &macro_c_ce_, 15 29 33 34)
CHORD(s_c_ce_, &macro_s_c_ce_, 15 29 36 34)
CHORD(c_ce__, &macro_c_ce__, 15 29 33 32)
CHORD(s_c_ce__, &macro_s_c_ce__, 15 29 36 32)
CHORD(c_ce___, &macro_c_ce___, 15 29 33 35)
CHORD(s_c_ce___, &macro_s_c_ce___, 15 29 36 35)
CHORD(c_wa, &macro_c_wa, 2 27 33)
CHORD(s_c_wa, &macro_s_c_wa, 2 27 36)
CHORD(c_my, &macro_c_my, 14 12 33)
CHORD(s_c_my, &macro_s_c_my, 14 12 36)
CHORD(c_f, &macro_c_f, 1 33)
CHORD(s_c_f, &macro_s_c_f, 1 36)
CHORD(c_f_, &macro_c_f_, 1 33 34)
CHORD(s_c_f_, &macro_s_c_f_, 1 36 34)
CHORD(c_f__, &macro_c_f__, 1 33 32)
CHORD(s_c_f__, &macro_s_c_f__, 1 36 32)
CHORD(c_f___, &macro_c_f___, 1 33 35)
CHORD(s_c_f___, &macro_s_c_f___, 1 36 35)
CHORD(c_tes, &macro_c_tes, 26 29 25 33)
CHORD(s_c_tes, &macro_s_c_tes, 26 29 25 36)
CHORD(c_ho, &macro_c_ho, 13 3 33)
CHORD(s_c_ho, &macro_s_c_ho, 13 3 36)
CHORD(c_cl, &macro_c_cl, 15 4 33)
CHORD(s_c_cl, &macro_s_c_cl, 15 4 36)
CHORD(c_ou, &macro_c_ou, 3 5 33)
CHORD(s_c_ou, &macro_s_c_ou, 3 5 36)
CHORD(c_ft, &macro_c_ft, 1 26 33)
CHORD(s_c_ft, &macro_s_c_ft, 1 26 36)
CHORD(c_v, &macro_c_v, 19 33)
CHORD(s_c_v, &macro_s_c_v, 19 36)
CHORD(c_ie, &macro_c_ie, 16 29 33)
CHORD(s_c_ie, &macro_s_c_ie, 16 29 36)
CHORD(c_ie_, &macro_c_ie_, 16 29 33 34)
CHORD(s_c_ie_, &macro_s_c_ie_, 16 29 36 34)
CHORD(c_ie__, &macro_c_ie__, 16 29 33 32)
CHORD(s_c_ie__, &macro_s_c_ie__, 16 29 36 32)
CHORD(c_ie___, &macro_c_ie___, 16 29 33 35)
CHORD(s_c_ie___, &macro_s_c_ie___, 16 29 36 35)
CHORD(c_on, &macro_c_on, 3 28 33)
CHORD(s_c_on, &macro_s_c_on, 3 28 36)
CHORD(c_d, &macro_c_d, 30 33)
CHORD(s_c_d, &macro_s_c_d, 30 36)
CHORD(c_d_, &macro_c_d_, 30 33 34)
CHORD(s_c_d_, &macro_s_c_d_, 30 36 34)
CHORD(c_j, &macro_c_j, 21 33)
CHORD(s_c_j, &macro_s_c_j, 21 36)
CHORD(c_ge, &macro_c_ge, 17 29 33)
CHORD(s_c_ge, &macro_s_c_ge, 17 29 36)
CHORD(c_ge_, &macro_c_ge_, 17 29 33 34)
CHORD(s_c_ge_, &macro_s_c_ge_, 17 29 36 34)
CHORD(c_ge__, &macro_c_ge__, 17 29 33 32)
CHORD(s_c_ge__, &macro_s_c_ge__, 17 29 36 32)
CHORD(c_ge___, &macro_c_ge___, 17 29 33 35)
CHORD(s_c_ge___, &macro_s_c_ge___, 17 29 36 35)
CHORD(c_su, &macro_c_su, 25 5 33)
CHORD(s_c_su, &macro_s_c_su, 25 5 36)
CHORD(c_mn, &macro_c_mn, 14 28 33)
CHORD(s_c_mn, &macro_s_c_mn, 14 28 36)
CHORD(c_sl, &macro_c_sl, 25 4 33)
CHORD(s_c_sl, &macro_s_c_sl, 25 4 36)
CHORD(c_an, &macro_c_an, 27 28 33)
CHORD(s_c_an, &macro_s_c_an, 27 28 36)
CHORD(c_wan, &macro_c_wan, 2 27 28 33)
CHORD(s_c_wan, &macro_s_c_wan, 2 27 28 36)
CHORD(c_wan_, &macro_c_wan_, 2 27 28 33 34)
CHORD(s_c_wan_, &macro_s_c_wan_, 2 27 28 36 34)
CHORD(c_wan__, &macro_c_wan__, 2 27 28 33 32)
CHORD(s_c_wan__, &macro_s_c_wan__, 2 27 28 36 32)
CHORD(c_wan___, &macro_c_wan___, 2 27 28 33 35)
CHORD(s_c_wan___, &macro_s_c_wan___, 2 27 28 36 35)
CHORD(c_wel, &macro_c_wel, 2 29 4 33)
CHORD(s_c_wel, &macro_s_c_wel, 2 29 4 36)
CHORD(c_ae, &macro_c_ae, 27 29 33)
CHORD(s_c_ae, &macro_s_c_ae, 27 29 36)
CHORD(c_ae_, &macro_c_ae_, 27 29 33 34)
CHORD(s_c_ae_, &macro_s_c_ae_, 27 29 36 34)
CHORD(c_n, &macro_c_n, 28 33)
CHORD(s_c_n, &macro_s_c_n, 28 36)
CHORD(c_n_, &macro_c_n_, 28 33 34)
CHORD(s_c_n_, &macro_s_c_n_, 28 36 34)
CHORD(c_n__, &macro_c_n__, 28 33 32)
CHORD(s_c_n__, &macro_s_c_n__, 28 36 32)
CHORD(c_n___, &macro_c_n___, 28 33 35)
CHORD(s_c_n___, &macro_s_c_n___, 28 36 35)
CHORD(c_ms, &macro_c_ms, 14 25 33)
CHORD(s_c_ms, &macro_s_c_ms, 14 25 36)
CHORD(c_ct, &macro_c_ct, 15 26 33)
CHORD(s_c_ct, &macro_s_c_ct, 15 26 36)
CHORD(c_ct_, &macro_c_ct_, 15 26 33 34)
CHORD(s_c_ct_, &macro_s_c_ct_, 15 26 36 34)
CHORD(c_ia, &macro_c_ia, 16 27 33)
CHORD(s_c_ia, &macro_s_c_ia, 16 27 36)
CHORD(c_ia_, &macro_c_ia_, 16 27 33 34)
CHORD(s_c_ia_, &macro_s_c_ia_, 16 27 36 34)
CHORD(c_l, &macro_c_l, 4 33)
CHORD(s_c_l, &macro_s_c_l, 4 36)
CHORD(c_l_, &macro_c_l_, 4 33 34)
CHORD(s_c_l_, &macro_s_c_l_, 4 36 34)
CHORD(c_l__, &macro_c_l__, 4 33 32)
CHORD(s_c_l__, &macro_s_c_l__, 4 36 32)
CHORD(c_l___, &macro_c_l___, 4 33 35)
CHORD(s_c_l___, &macro_s_c_l___, 4 36 35)
CHORD(c_hg, &macro_c_hg, 13 17 33)
CHORD(s_c_hg, &macro_s_c_hg, 13 17 36)
CHORD(c_now, &macro_c_now, 28 3 2 33)
CHORD(s_c_now, &macro_s_c_now, 28 3 2 36)
CHORD(c_ne, &macro_c_ne, 28 29 33)
CHORD(s_c_ne, &macro_s_c_ne, 28 29 36)
CHORD(c_le, &macro_c_le, 4 29 33)
CHORD(s_c_le, &macro_s_c_le, 4 29 36)
CHORD(c_le_, &macro_c_le_, 4 29 33 34)
CHORD(s_c_le_, &macro_s_c_le_, 4 29 36 34)
CHORD(c_wie, &macro_c_wie, 2 16 29 33)
CHORD(s_c_wie, &macro_s_c_wie, 2 16 29 36)
CHORD(c_ba, &macro_c_ba, 6 27 33)
CHORD(s_c_ba, &macro_s_c_ba, 6 27 36)
CHORD(c_tg, &macro_c_tg, 26 17 33)
CHORD(s_c_tg, &macro_s_c_tg, 26 17 36)
CHORD(c_tg_, &macro_c_tg_, 26 17 33 34)
CHORD(s_c_tg_, &macro_s_c_tg_, 26 17 36 34)
CHORD(c_be, &macro_c_be, 6 29 33)
CHORD(s_c_be, &macro_s_c_be, 6 29 36)
CHORD(c_be_, &macro_c_be_, 6 29 33 34)
CHORD(s_c_be_, &macro_s_c_be_, 6 29 36 34)
CHORD(c_be__, &macro_c_be__, 6 29 33 32)
CHORD(s_c_be__, &macro_s_c_be__, 6 29 36 32)
CHORD(c_be___, &macro_c_be___, 6 29 33 35)
CHORD(s_c_be___, &macro_s_c_be___, 6 29 36 35)
CHORD(c_hoe, &macro_c_hoe, 13 3 29 33)
CHORD(s_c_hoe, &macro_s_c_hoe, 13 3 29 36)
CHORD(c_pa, &macro_c_pa, 20 27 33)
CHORD(s_c_pa, &macro_s_c_pa, 20 27 36)
CHORD(c_pa_, &macro_c_pa_, 20 27 33 34)
CHORD(s_c_pa_, &macro_s_c_pa_, 20 27 36 34)
CHORD(c_ga, &macro_c_ga, 17 27 33)
CHORD(s_c_ga, &macro_s_c_ga, 17 27 36)
CHORD(c_wr, &macro_c_wr, 2 18 33)
CHORD(s_c_wr, &macro_s_c_wr, 2 18 36)
CHORD(c_wr_, &macro_c_wr_, 2 18 33 34)
CHORD(s_c_wr_, &macro_s_c_wr_, 2 18 36 34)
CHORD(c_wr__, &macro_c_wr__, 2 18 33 32)
CHORD(s_c_wr__, &macro_s_c_wr__, 2 18 36 32)
CHORD(c_wr___, &macro_c_wr___, 2 18 33 35)
CHORD(s_c_wr___, &macro_s_c_wr___, 2 18 36 35)
CHORD(c_sw, &macro_c_sw, 25 2 33)
CHORD(s_c_sw, &macro_s_c_sw, 25 2 36)
CHORD(c_sw_, &macro_c_sw_, 25 2 33 34)
CHORD(s_c_sw_, &macro_s_c_sw_, 25 2 36 34)
CHORD(c_sw__, &macro_c_sw__, 25 2 33 32)
CHORD(s_c_sw__, &macro_s_c_sw__, 25 2 36 32)
CHORD(c_sw___, &macro_c_sw___, 25 2 33 35)
CHORD(s_c_sw___, &macro_s_c_sw___, 25 2 36 35)
CHORD(c_lae, &macro_c_lae, 4 27 29 33)
CHORD(s_c_lae, &macro_s_c_lae, 4 27 29 36)
CHORD(c_sa, &macro_c_sa, 25 27 33)
CHORD(s_c_sa, &macro_s_c_sa, 25 27 36)
CHORD(c_cn, &macro_c_cn, 15 28 33)
CHORD(s_c_cn, &macro_s_c_cn, 15 28 36)
CHORD(c_cn_, &macro_c_cn_, 15 28 33 34)
CHORD(s_c_cn_, &macro_s_c_cn_, 15 28 36 34)
CHORD(c_e, &macro_c_e, 29 33)
CHORD(s_c_e, &macro_s_c_e, 29 36)
CHORD(c_sd, &macro_c_sd, 25 30 33)
CHORD(s_c_sd, &macro_s_c_sd, 25 30 36)
CHORD(c_sd_, &macro_c_sd_, 25 30 33 34)
CHORD(s_c_sd_, &macro_s_c_sd_, 25 30 36 34)
CHORD(c_fo, &macro_c_fo, 1 3 33)
CHORD(s_c_fo, &macro_s_c_fo, 1 3 36)
CHORD(c_fo_, &macro_c_fo_, 1 3 33 34)
CHORD(s_c_fo_, &macro_s_c_fo_, 1 3 36 34)
CHORD(c_fo__, &macro_c_fo__, 1 3 33 32)
CHORD(s_c_fo__, &macro_s_c_fo__, 1 3 36 32)
CHORD(c_fo___, &macro_c_fo___, 1 3 33 35)
CHORD(s_c_fo___, &macro_s_c_fo___, 1 3 36 35)
CHORD(c_sy, &macro_c_sy, 25 12 33)
CHORD(s_c_sy, &macro_s_c_sy, 25 12 36)
CHORD(c_sy_, &macro_c_sy_, 25 12 33 34)
CHORD(s_c_sy_, &macro_s_c_sy_, 25 12 36 34)
CHORD(c_dn, &macro_c_dn, 30 28 33)
CHORD(s_c_dn, &macro_s_c_dn, 30 28 36)
CHORD(c_lv, &macro_c_lv, 4 19 33)
CHORD(s_c_lv, &macro_s_c_lv, 4 19 36)
CHORD(c_lv_, &macro_c_lv_, 4 19 33 34)
CHORD(s_c_lv_, &macro_s_c_lv_, 4 19 36 34)
CHORD(c_lv__, &macro_c_lv__, 4 19 33 32)
CHORD(s_c_lv__, &macro_s_c_lv__, 4 19 36 32)
CHORD(c_lv___, &macro_c_lv___, 4 19 33 35)
CHORD(s_c_lv___, &macro_s_c_lv___, 4 19 36 35)
CHORD(c_pe, &macro_c_pe, 20 29 33)
CHORD(s_c_pe, &macro_s_c_pe, 20 29 36)
CHORD(c_pe_, &macro_c_pe_, 20 29 33 34)
CHORD(s_c_pe_, &macro_s_c_pe_, 20 29 36 34)
CHORD(c_hl, &macro_c_hl, 13 4 33)
CHORD(s_c_hl, &macro_s_c_hl, 13 4 36)
CHORD(c_hl_, &macro_c_hl_, 13 4 33 34)
CHORD(s_c_hl_, &macro_s_c_hl_, 13 4 36 34)
CHORD(c_hl__, &macro_c_hl__, 13 4 33 32)
CHORD(s_c_hl__, &macro_s_c_hl__, 13 4 36 32)
CHORD(c_hl___, &macro_c_hl___, 13 4 33 35)
CHORD(s_c_hl___, &macro_s_c_hl___, 13 4 36 35)
CHORD(c_r, &macro_c_r, 18 33)
CHORD(s_c_r, &macro_s_c_r, 18 36)
CHORD(c_r_, &macro_c_r_, 18 33 34)
CHORD(s_c_r_, &macro_s_c_r_, 18 36 34)
CHORD(c_r__, &macro_c_r__, 18 33 32)
CHORD(s_c_r__, &macro_s_c_r__, 18 36 32)
CHORD(c_r___, &macro_c_r___, 18 33 35)
CHORD(s_c_r___, &macro_s_c_r___, 18 36 35)
CHORD(c_cd, &macro_c_cd, 15 30 33)
CHORD(s_c_cd, &macro_s_c_cd, 15 30 36)
CHORD(c_cd_, &macro_c_cd_, 15 30 33 34)
CHORD(s_c_cd_, &macro_s_c_cd_, 15 30 36 34)
CHORD(c_sae, &macro_c_sae, 25 27 29 33)
CHORD(s_c_sae, &macro_s_c_sae, 25 27 29 36)
CHORD(c_nu, &macro_c_nu, 28 5 33)
CHORD(s_c_nu, &macro_s_c_nu, 28 5 36)
CHORD(c_nu_, &macro_c_nu_, 28 5 33 34)
CHORD(s_c_nu_, &macro_s_c_nu_, 28 5 36 34)
CHORD(c_ol, &macro_c_ol, 3 4 33)
CHORD(s_c_ol, &macro_s_c_ol, 3 4 36)
CHORD(c_mu, &macro_c_mu, 14 5 33)
CHORD(s_c_mu, &macro_s_c_mu, 14 5 36)
CHORD(c_tl, &macro_c_tl, 26 4 33)
CHORD(s_c_tl, &macro_s_c_tl, 26 4 36)
CHORD(c_tl_, &macro_c_tl_, 26 4 33 34)
CHORD(s_c_tl_, &macro_s_c_tl_, 26 4 36 34)
CHORD(c_tl__, &macro_c_tl__, 26 4 33 32)
CHORD(s_c_tl__, &macro_s_c_tl__, 26 4 36 32)
CHORD(c_tl___, &macro_c_tl___, 26 4 33 35)
CHORD(s_c_tl___, &macro_s_c_tl___, 26 4 36 35)
CHORD(c_wae, &macro_c_wae, 2 27 29 33)
CHORD(s_c_wae, &macro_s_c_wae, 2 27 29 36)
CHORD(c_wae_, &macro_c_wae_, 2 27 29 33 34)
CHORD(s_c_wae_, &macro_s_c_wae_, 2 27 29 36 34)
CHORD(c_si, &macro_c_si, 25 16 33)
CHORD(s_c_si, &macro_s_c_si, 25 16 36)
CHORD(c_si_, &macro_c_si_, 25 16 33 34)
CHORD(s_c_si_, &macro_s_c_si_, 25 16 36 34)
CHORD(c_to, &macro_c_to, 26 3 33)
CHORD(s_c_to, &macro_s_c_to, 26 3 36)
CHORD(c_to_, &macro_c_to_, 26 3 33 34)
CHORD(s_c_to_, &macro_s_c_to_, 26 3 36 34)
CHORD(c_get, &macro_c_get, 17 29 26 33)
CHORD(s_c_get, &macro_s_c_get, 17 29 26 36)
CHORD(c_get_, &macro_c_get_, 17 29 26 33 34)
CHORD(s_c_get_, &macro_s_c_get_, 17 29 26 36 34)
CHORD(c_ke, &macro_c_ke, 11 29 33)
CHORD(s_c_ke, &macro_s_c_ke, 11 29 36)
CHORD(c_ke_, &macro_c_ke_, 11 29 33 34)
CHORD(s_c_ke_, &macro_s_c_ke_, 11 29 36 34)
CHORD(c_ke__, &macro_c_ke__, 11 29 33 32)
CHORD(s_c_ke__, &macro_s_c_ke__, 11 29 36 32)
CHORD(c_ke___, &macro_c_ke___, 11 29 33 35)
CHORD(s_c_ke___, &macro_s_c_ke___, 11 29 36 35)
CHORD(c_hr, &macro_c_hr, 13 18 33)
CHORD(s_c_hr, &macro_s_c_hr, 13 18 36)
CHORD(c_fa, &macro_c_fa, 1 27 33)
CHORD(s_c_fa, &macro_s_c_fa, 1 27 36)
CHORD(c_fa_, &macro_c_fa_, 1 27 33 34)
CHORD(s_c_fa_, &macro_s_c_fa_, 1 27 36 34)
CHORD(c_stl, &macro_c_stl, 25 26 4 33)
CHORD(s_c_stl, &macro_s_c_stl, 25 26 4 36)
CHORD(c_fr, &macro_c_fr, 1 18 33)
CHORD(s_c_fr, &macro_s_c_fr, 1 18 36)
CHORD(c_sal, &macro_c_sal, 25 27 4 33)
CHORD(s_c_sal, &macro_s_c_sal, 25 27 4 36)
CHORD(c_fe, &macro_c_fe, 1 29 33)
CHORD(s_c_fe, &macro_s_c_fe, 1 29 36)
CHORD(c_fe_, &macro_c_fe_, 1 29 33 34)
CHORD(s_c_fe_, &macro_s_c_fe_, 1 29 36 34)
CHORD(c_fe__, &macro_c_fe__, 1 29 33 32)
CHORD(s_c_fe__, &macro_s_c_fe__, 1 29 36 32)
CHORD(c_fe___, &macro_c_fe___, 1 29 33 35)
CHORD(s_c_fe___, &macro_s_c_fe___, 1 29 36 35)
CHORD(c_sta, &macro_c_sta, 25 26 27 33)
CHORD(s_c_sta, &macro_s_c_sta, 25 26 27 36)
CHORD(c_sta_, &macro_c_sta_, 25 26 27 33 34)
CHORD(s_c_sta_, &macro_s_c_sta_, 25 26 27 36 34)
CHORD(c_sta__, &macro_c_sta__, 25 26 27 33 32)
CHORD(s_c_sta__, &macro_s_c_sta__, 25 26 27 36 32)
CHORD(c_sta___, &macro_c_sta___, 25 26 27 33 35)
CHORD(s_c_sta___, &macro_s_c_sta___, 25 26 27 36 35)
CHORD(c_ak, &macro_c_ak, 27 11 33)
CHORD(s_c_ak, &macro_s_c_ak, 27 11 36)
CHORD(c_ak_, &macro_c_ak_, 27 11 33 34)
CHORD(s_c_ak_, &macro_s_c_ak_, 27 11 36 34)
CHORD(c_ak__, &macro_c_ak__, 27 11 33 32)
CHORD(s_c_ak__, &macro_s_c_ak__, 27 11 36 32)
CHORD(c_ak___, &macro_c_ak___, 27 11 33 35)
CHORD(s_c_ak___, &macro_s_c_ak___, 27 11 36 35)
CHORD(c_bc, &macro_c_bc, 6 15 33)
CHORD(s_c_bc, &macro_s_c_bc, 6 15 36)
CHORD(c_cs, &macro_c_cs, 15 25 33)
CHORD(s_c_cs, &macro_s_c_cs, 15 25 36)
CHORD(c_cs_, &macro_c_cs_, 15 25 33 34)
CHORD(s_c_cs_, &macro_s_c_cs_, 15 25 36 34)
CHORD(c_cs__, &macro_c_cs__, 15 25 33 32)
CHORD(s_c_cs__, &macro_s_c_cs__, 15 25 36 32)
CHORD(c_cs___, &macro_c_cs___, 15 25 33 35)
CHORD(s_c_cs___, &macro_s_c_cs___, 15 25 36 35)
CHORD(c_nae, &macro_c_nae, 28 27 29 33)
CHORD(s_c_nae, &macro_s_c_nae, 28 27 29 36)
CHORD(c_nae_, &macro_c_nae_, 28 27 29 33 34)
CHORD(s_c_nae_, &macro_s_c_nae_, 28 27 29 36 34)
CHORD(c_io, &macro_c_io, 16 3 33)
CHORD(s_c_io, &macro_s_c_io, 16 3 36)
CHORD(c_po, &macro_c_po, 20 3 33)
CHORD(s_c_po, &macro_s_c_po, 20 3 36)
CHORD(c_po_, &macro_c_po_, 20 3 33 34)
CHORD(s_c_po_, &macro_s_c_po_, 20 3 36 34)
CHORD(c_po__, &macro_c_po__, 20 3 33 32)
CHORD(s_c_po__, &macro_s_c_po__, 20 3 36 32)
CHORD(c_po___, &macro_c_po___, 20 3 33 35)
CHORD(s_c_po___, &macro_s_c_po___, 20 3 36 35)
CHORD(c_eah, &macro_c_eah, 29 27 13 33)
CHORD(s_c_eah, &macro_s_c_eah, 29 27 13 36)
CHORD(c_sp, &macro_c_sp, 25 20 33)
CHORD(s_c_sp, &macro_s_c_sp, 25 20 36)
CHORD(c_sp_, &macro_c_sp_, 25 20 33 34)
CHORD(s_c_sp_, &macro_s_c_sp_, 25 20 36 34)
CHORD(c_wd, &macro_c_wd, 2 30 33)
CHORD(s_c_wd, &macro_s_c_wd, 2 30 36)
CHORD(c_wd_, &macro_c_wd_, 2 30 33 34)
CHORD(s_c_wd_, &macro_s_c_wd_, 2 30 36 34)
CHORD(c_ld, &macro_c_ld, 4 30 33)
CHORD(s_c_ld, &macro_s_c_ld, 4 30 36)
CHORD(c_ld_, &macro_c_ld_, 4 30 33 34)
CHORD(s_c_ld_, &macro_s_c_ld_, 4 30 36 34)
CHORD(c_ld__, &macro_c_ld__, 4 30 33 32)
CHORD(s_c_ld__, &macro_s_c_ld__, 4 30 36 32)
CHORD(c_ld___, &macro_c_ld___, 4 30 33 35)
CHORD(s_c_ld___, &macro_s_c_ld___, 4 30 36 35)
CHORD(c_ar, &macro_c_ar, 27 18 33)
CHORD(s_c_ar, &macro_s_c_ar, 27 18 36)
CHORD(c_hm, &macro_c_hm, 13 14 33)
CHORD(s_c_hm, &macro_s_c_hm, 13 14 36)
CHORD(c_hm_, &macro_c_hm_, 13 14 33 34)
CHORD(s_c_hm_, &macro_s_c_hm_, 13 14 36 34)
CHORD(c_bo, &macro_c_bo, 6 3 33)
CHORD(s_c_bo, &macro_s_c_bo, 6 3 36)
CHORD(c_iu, &macro_c_iu, 16 5 33)
CHORD(s_c_iu, &macro_s_c_iu, 16 5 36)
CHORD(c_iu_, &macro_c_iu_, 16 5 33 34)
CHORD(s_c_iu_, &macro_s_c_iu_, 16 5 36 34)
CHORD(c_gu, &macro_c_gu, 17 5 33)
CHORD(s_c_gu, &macro_s_c_gu, 17 5 36)
CHORD(c_gu_, &macro_c_gu_, 17 5 33 34)
CHORD(s_c_gu_, &macro_s_c_gu_, 17 5 36 34)
CHORD(c_ey, &macro_c_ey, 29 12 33)
CHORD(s_c_ey, &macro_s_c_ey, 29 12 36)
CHORD(c_wri, &macro_c_wri, 2 18 16 33)
CHORD(s_c_wri, &macro_s_c_wri, 2 18 16 36)
CHORD(c_wri_, &macro_c_wri_, 2 18 16 33 34)
CHORD(s_c_wri_, &macro_s_c_wri_, 2 18 16 36 34)
CHORD(c_wri__, &macro_c_wri__, 2 18 16 33 32)
CHORD(s_c_wri__, &macro_s_c_wri__, 2 18 16 36 32)
CHORD(c_wri___, &macro_c_wri___, 2 18 16 33 35)
CHORD(s_c_wri___, &macro_s_c_wri___, 2 18 16 36 35)
CHORD(c_lat, &macro_c_lat, 4 27 26 33)
CHORD(s_c_lat, &macro_s_c_lat, 4 27 26 36)
CHORD(c_mi, &macro_c_mi, 14 16 33)
CHORD(s_c_mi, &macro_s_c_mi, 14 16 36)
CHORD(c_fw, &macro_c_fw, 1 2 33)
CHORD(s_c_fw, &macro_s_c_fw, 1 2 36)
CHORD(c_rs, &macro_c_rs, 18 25 33)
CHORD(s_c_rs, &macro_s_c_rs, 18 25 36)
CHORD(c_rs_, &macro_c_rs_, 18 25 33 34)
CHORD(s_c_rs_, &macro_s_c_rs_, 18 25 36 34)
CHORD(c_iat, &macro_c_iat, 16 27 26 33)
CHORD(s_c_iat, &macro_s_c_iat, 16 27 26 36)
CHORD(c_iat_, &macro_c_iat_, 16 27 26 33 34)
CHORD(s_c_iat_, &macro_s_c_iat_, 16 27 26 36 34)
CHORD(c_hd, &macro_c_hd, 13 30 33)
CHORD(s_c_hd, &macro_s_c_hd, 13 30 36)
CHORD(c_hd_, &macro_c_hd_, 13 30 33 34)
CHORD(s_c_hd_, &macro_s_c_hd_, 13 30 36 34)
CHORD(c_hd__, &macro_c_hd__, 13 30 33 32)
CHORD(s_c_hd__, &macro_s_c_hd__, 13 30 36 32)
CHORD(c_hd___, &macro_c_hd___, 13 30 33 35)
CHORD(s_c_hd___, &macro_s_c_hd___, 13 30 36 35)
CHORD(c_stae, &macro_c_stae, 25 26 27 29 33)
CHORD(s_c_stae, &macro_s_c_stae, 25 26 27 29 36)
CHORD(c_stae_, &macro_c_stae_, 25 26 27 29 33 34)
CHORD(s_c_stae_, &macro_s_c_stae_, 25 26 27 29 36 34)
CHORD(c_pt, &macro_c_pt, 20 26 33)
CHORD(s_c_pt, &macro_s_c_pt, 20 26 36)
CHORD(c_pt_, &macro_c_pt_, 20 26 33 34)
CHORD(s_c_pt_, &macro_s_c_pt_, 20 26 36 34)
CHORD(c_pt__, &macro_c_pt__, 20 26 33 32)
CHORD(s_c_pt__, &macro_s_c_pt__, 20 26 36 32)
CHORD(c_pt___, &macro_c_pt___, 20 26 33 35)
CHORD(s_c_pt___, &macro_s_c_pt___, 20 26 36 35)
CHORD(c_pc, &macro_c_pc, 20 15 33)
CHORD(s_c_pc, &macro_s_c_pc, 20 15 36)
CHORD(c_pc_, &macro_c_pc_, 20 15 33 34)
CHORD(s_c_pc_, &macro_s_c_pc_, 20 15 36 34)
CHORD(c_fd, &macro_c_fd, 1 30 33)
CHORD(s_c_fd, &macro_s_c_fd, 1 30 36)
CHORD(c_fd_, &macro_c_fd_, 1 30 33 34)
CHORD(s_c_fd_, &macro_s_c_fd_, 1 30 36 34)
CHORD(c_bn, &macro_c_bn, 6 28 33)
CHORD(s_c_bn, &macro_s_c_bn, 6 28 36)
CHORD(c_bn_, &macro_c_bn_, 6 28 33 34)
CHORD(s_c_bn_, &macro_s_c_bn_, 6 28 36 34)
CHORD(c_bn__, &macro_c_bn__, 6 28 33 32)
CHORD(s_c_bn__, &macro_s_c_bn__, 6 28 36 32)
CHORD(c_bn___, &macro_c_bn___, 6 28 33 35)
CHORD(s_c_bn___, &macro_s_c_bn___, 6 28 36 35)
CHORD(c_sv, &macro_c_sv, 25 19 33)
CHORD(s_c_sv, &macro_s_c_sv, 25 19 36)
CHORD(c_sv_, &macro_c_sv_, 25 19 33 34)
CHORD(s_c_sv_, &macro_s_c_sv_, 25 19 36 34)
CHORD(c_sv__, &macro_c_sv__, 25 19 33 32)
CHORD(s_c_sv__, &macro_s_c_sv__, 25 19 36 32)
CHORD(c_sv___, &macro_c_sv___, 25 19 33 35)
CHORD(s_c_sv___, &macro_s_c_sv___, 25 19 36 35)
CHORD(c_cse, &macro_c_cse, 15 25 29 33)
CHORD(s_c_cse, &macro_s_c_cse, 15 25 29 36)
CHORD(c_cse_, &macro_c_cse_, 15 25 29 33 34)
CHORD(s_c_cse_, &macro_s_c_cse_, 15 25 29 36 34)
CHORD(c_ant, &macro_c_ant, 27 28 26 33)
CHORD(s_c_ant, &macro_s_c_ant, 27 28 26 36)
CHORD(c_mnt, &macro_c_mnt, 14 28 26 33)
CHORD(s_c_mnt, &macro_s_c_mnt, 14 28 26 36)
CHORD(c_mnt_, &macro_c_mnt_, 14 28 26 33 34)
CHORD(s_c_mnt_, &macro_s_c_mnt_, 14 28 26 36 34)
CHORD(c_mb, &macro_c_mb, 14 6 33)
CHORD(s_c_mb, &macro_s_c_mb, 14 6 36)
CHORD(c_mb_, &macro_c_mb_, 14 6 33 34)
CHORD(s_c_mb_, &macro_s_c_mb_, 14 6 36 34)
CHORD(c_sde, &macro_c_sde, 25 30 29 33)
CHORD(s_c_sde, &macro_s_c_sde, 25 30 29 36)
CHORD(c_sde_, &macro_c_sde_, 25 30 29 33 34)
CHORD(s_c_sde_, &macro_s_c_sde_, 25 30 29 36 34)
CHORD(c_au, &macro_c_au, 27 5 33)
CHORD(s_c_au, &macro_s_c_au, 27 5 36)
CHORD(c_md, &macro_c_md, 14 30 33)
CHORD(s_c_md, &macro_s_c_md, 14 30 36)
CHORD(c_md_, &macro_c_md_, 14 30 33 34)
CHORD(s_c_md_, &macro_s_c_md_, 14 30 36 34)
CHORD(c_bk, &macro_c_bk, 6 11 33)
CHORD(s_c_bk, &macro_s_c_bk, 6 11 36)
CHORD(c_bk_, &macro_c_bk_, 6 11 33 34)
CHORD(s_c_bk_, &macro_s_c_bk_, 6 11 36 34)
CHORD(c_pn, &macro_c_pn, 20 28 33)
CHORD(s_c_pn, &macro_s_c_pn, 20 28 36)
CHORD(c_pn_, &macro_c_pn_, 20 28 33 34)
CHORD(s_c_pn_, &macro_s_c_pn_, 20 28 36 34)
CHORD(c_ha, &macro_c_ha, 13 27 33)
CHORD(s_c_ha, &macro_s_c_ha, 13 27 36)
CHORD(c_ha_, &macro_c_ha_, 13 27 33 34)
CHORD(s_c_ha_, &macro_s_c_ha_, 13 27 36 34)
CHORD(c_low, &macro_c_low, 4 3 2 33)
CHORD(s_c_low, &macro_s_c_low, 4 3 2 36)
CHORD(c_cr, &macro_c_cr, 15 18 33)
CHORD(s_c_cr, &macro_s_c_cr, 15 18 36)
CHORD(c_cr_, &macro_c_cr_, 15 18 33 34)
CHORD(s_c_cr_, &macro_s_c_cr_, 15 18 36 34)
CHORD(c_bs, &macro_c_bs, 6 25 33)
CHORD(s_c_bs, &macro_s_c_bs, 6 25 36)
CHORD(c_bs_, &macro_c_bs_, 6 25 33 34)
CHORD(s_c_bs_, &macro_s_c_bs_, 6 25 36 34)
CHORD(c_wm, &macro_c_wm, 2 14 33)
CHORD(s_c_wm, &macro_s_c_wm, 2 14 36)
CHORD(c_wm_, &macro_c_wm_, 2 14 33 34)
CHORD(s_c_wm_, &macro_s_c_wm_, 2 14 36 34)
CHORD(c_de, &macro_c_de, 30 29 33)
CHORD(s_c_de, &macro_s_c_de, 30 29 36)
CHORD(c_de_, &macro_c_de_, 30 29 33 34)
CHORD(s_c_de_, &macro_s_c_de_, 30 29 36 34)
CHORD(c_de__, &macro_c_de__, 30 29 33 32)
CHORD(s_c_de__, &macro_s_c_de__, 30 29 36 32)
CHORD(c_de___, &macro_c_de___, 30 29 33 35)
CHORD(s_c_de___, &macro_s_c_de___, 30 29 36 35)
CHORD(c_hu, &macro_c_hu, 13 5 33)
CHORD(s_c_hu, &macro_s_c_hu, 13 5 36)
CHORD(c_hu_, &macro_c_hu_, 13 5 33 34)
CHORD(s_c_hu_, &macro_s_c_hu_, 13 5 36 34)
CHORD(c_nr, &macro_c_nr, 28 18 33)
CHORD(s_c_nr, &macro_s_c_nr, 28 18 36)
CHORD(c_mst, &macro_c_mst, 14 25 26 33)
CHORD(s_c_mst, &macro_s_c_mst, 14 25 26 36)
CHORD(c_alw, &macro_c_alw, 27 4 2 33)
CHORD(s_c_alw, &macro_s_c_alw, 27 4 2 36)
CHORD(c_alw_, &macro_c_alw_, 27 4 2 33 34)
CHORD(s_c_alw_, &macro_s_c_alw_, 27 4 2 36 34)
CHORD(c_alw__, &macro_c_alw__, 27 4 2 33 32)
CHORD(s_c_alw__, &macro_s_c_alw__, 27 4 2 36 32)
CHORD(c_alw___, &macro_c_alw___, 27 4 2 33 35)
CHORD(s_c_alw___, &macro_s_c_alw___, 27 4 2 36 35)
CHORD(c_iea, &macro_c_iea, 16 29 27 33)
CHORD(s_c_iea, &macro_s_c_iea, 16 29 27 36)
CHORD(c_iea_, &macro_c_iea_, 16 29 27 33 34)
CHORD(s_c_iea_, &macro_s_c_iea_, 16 29 27 36 34)
CHORD(c_iea__, &macro_c_iea__, 16 29 27 33 32)
CHORD(s_c_iea__, &macro_s_c_iea__, 16 29 27 36 32)
CHORD(c_iea___, &macro_c_iea___, 16 29 27 33 35)
CHORD(s_c_iea___, &macro_s_c_iea___, 16 29 27 36 35)
CHORD(c_ml, &macro_c_ml, 14 4 33)
CHORD(s_c_ml, &macro_s_c_ml, 14 4 36)
CHORD(c_ml_, &macro_c_ml_, 14 4 33 34)
CHORD(s_c_ml_, &macro_s_c_ml_, 14 4 36 34)
CHORD(c_far, &macro_c_far, 1 27 18 33)
CHORD(s_c_far, &macro_s_c_far, 1 27 18 36)
CHORD(c_pl, &macro_c_pl, 20 4 33)
CHORD(s_c_pl, &macro_s_c_pl, 20 4 36)
CHORD(c_pl_, &macro_c_pl_, 20 4 33 34)
CHORD(s_c_pl_, &macro_s_c_pl_, 20 4 36 34)
CHORD(c_pl__, &macro_c_pl__, 20 4 33 32)
CHORD(s_c_pl__, &macro_s_c_pl__, 20 4 36 32)
CHORD(c_pl___, &macro_c_pl___, 20 4 33 35)
CHORD(s_c_pl___, &macro_s_c_pl___, 20 4 36 35)
CHORD(c_pat, &macro_c_pat, 20 27 26 33)
CHORD(s_c_pat, &macro_s_c_pat, 20 27 26 36)
CHORD(c_pat_, &macro_c_pat_, 20 27 26 33 34)
CHORD(s_c_pat_, &macro_s_c_pat_, 20 27 26 36 34)
CHORD(c_lot, &macro_c_lot, 4 3 26 33)
CHORD(s_c_lot, &macro_s_c_lot, 4 3 26 36)
CHORD(c_lot_, &macro_c_lot_, 4 3 26 33 34)
CHORD(s_c_lot_, &macro_s_c_lot_, 4 3 26 36 34)
CHORD(c_sn, &macro_c_sn, 25 28 33)
CHORD(s_c_sn, &macro_s_c_sn, 25 28 36)
CHORD(c_sn_, &macro_c_sn_, 25 28 33 34)
CHORD(s_c_sn_, &macro_s_c_sn_, 25 28 36 34)
CHORD(c_aws, &macro_c_aws, 27 2 25 33)
CHORD(s_c_aws, &macro_s_c_aws, 27 2 25 36)
CHORD(c_da, &macro_c_da, 30 27 33)
CHORD(s_c_da, &macro_s_c_da, 30 27 36)
CHORD(c_da_, &macro_c_da_, 30 27 33 34)
CHORD(s_c_da_, &macro_s_c_da_, 30 27 36 34)
CHORD(c_du, &macro_c_du, 30 5 33)
CHORD(s_c_du, &macro_s_c_du, 30 5 36)
CHORD(c_sen, &macro_c_sen, 25 29 28 33)
CHORD(s_c_sen, &macro_s_c_sen, 25 29 28 36)
CHORD(c_men, &macro_c_men, 14 29 28 33)
CHORD(s_c_men, &macro_s_c_men, 14 29 28 36)
CHORD(c_men_, &macro_c_men_, 14 29 28 33 34)
CHORD(s_c_men_, &macro_s_c_men_, 14 29 28 36 34)
CHORD(c_men__, &macro_c_men__, 14 29 28 33 32)
CHORD(s_c_men__, &macro_s_c_men__, 14 29 28 36 32)
CHORD(c_men___, &macro_c_men___, 14 29 28 33 35)
CHORD(s_c_men___, &macro_s_c_men___, 14 29 28 36 35)
CHORD(c_bae, &macro_c_bae, 6 27 29 33)
CHORD(s_c_bae, &macro_s_c_bae, 6 27 29 36)
CHORD(c_bae_, &macro_c_bae_, 6 27 29 33 34)
CHORD(s_c_bae_, &macro_s_c_bae_, 6 27 29 36 34)
CHORD(c_bae__, &macro_c_bae__, 6 27 29 33 32)
CHORD(s_c_bae__, &macro_s_c_bae__, 6 27 29 36 32)
CHORD(c_bae___, &macro_c_bae___, 6 27 29 33 35)
CHORD(s_c_bae___, &macro_s_c_bae___, 6 27 29 36 35)
CHORD(c_cet, &macro_c_cet, 15 29 26 33)
CHORD(s_c_cet, &macro_s_c_cet, 15 29 26 36)
CHORD(c_cet_, &macro_c_cet_, 15 29 26 33 34)
CHORD(s_c_cet_, &macro_s_c_cet_, 15 29 26 36 34)
CHORD(c_cet__, &macro_c_cet__, 15 29 26 33 32)
CHORD(s_c_cet__, &macro_s_c_cet__, 15 29 26 36 32)
CHORD(c_cet___, &macro_c_cet___, 15 29 26 33 35)
CHORD(s_c_cet___, &macro_s_c_cet___, 15 29 26 36 35)
CHORD(c_net, &macro_c_net, 28 29 26 33)
CHORD(s_c_net, &macro_s_c_net, 28 29 26 36)
CHORD(c_oe, &macro_c_oe, 3 29 33)
CHORD(s_c_oe, &macro_s_c_oe, 3 29 36)
CHORD(c_oe_, &macro_c_oe_, 3 29 33 34)
CHORD(s_c_oe_, &macro_s_c_oe_, 3 29 36 34)
CHORD(c_lte, &macro_c_lte, 4 26 29 33)
CHORD(s_c_lte, &macro_s_c_lte, 4 26 29 36)
CHORD(c_pr, &macro_c_pr, 20 18 33)
CHORD(s_c_pr, &macro_s_c_pr, 20 18 36)
CHORD(c_pr_, &macro_c_pr_, 20 18 33 34)
CHORD(s_c_pr_, &macro_s_c_pr_, 20 18 36 34)
CHORD(c_rl, &macro_c_rl, 18 4 33)
CHORD(s_c_rl, &macro_s_c_rl, 18 4 36)
CHORD(c_ut, &macro_c_ut, 5 26 33)
CHORD(s_c_ut, &macro_s_c_ut, 5 26 36)
CHORD(c_ut_, &macro_c_ut_, 5 26 33 34)
CHORD(s_c_ut_, &macro_s_c_ut_, 5 26 36 34)
CHORD(c_ut__, &macro_c_ut__, 5 26 33 32)
CHORD(s_c_ut__, &macro_s_c_ut__, 5 26 36 32)
CHORD(c_ut___, &macro_c_ut___, 5 26 33 35)
CHORD(s_c_ut___, &macro_s_c_ut___, 5 26 36 35)
CHORD(c_tra, &macro_c_tra, 26 18 27 33)
CHORD(s_c_tra, &macro_s_c_tra, 26 18 27 36)
CHORD(c_tra_, &macro_c_tra_, 26 18 27 33 34)
CHORD(s_c_tra_, &macro_s_c_tra_, 26 18 27 36 34)
CHORD(c_bl, &macro_c_bl, 6 4 33)
CHORD(s_c_bl, &macro_s_c_bl, 6 4 36)
CHORD(c_bl_, &macro_c_bl_, 6 4 33 34)
CHORD(s_c_bl_, &macro_s_c_bl_, 6 4 36 34)
CHORD(c_bl__, &macro_c_bl__, 6 4 33 32)
CHORD(s_c_bl__, &macro_s_c_bl__, 6 4 36 32)
CHORD(c_bl___, &macro_c_bl___, 6 4 33 35)
CHORD(s_c_bl___, &macro_s_c_bl___, 6 4 36 35)
CHORD(c_otn, &macro_c_otn, 3 26 28 33)
CHORD(s_c_otn, &macro_s_c_otn, 3 26 28 36)
CHORD(c_bi, &macro_c_bi, 6 16 33)
CHORD(s_c_bi, &macro_s_c_bi, 6 16 36)
CHORD(c_bi_, &macro_c_bi_, 6 16 33 34)
CHORD(s_c_bi_, &macro_s_c_bi_, 6 16 36 34)
CHORD(c_bi__, &macro_c_bi__, 6 16 33 32)
CHORD(s_c_bi__, &macro_s_c_bi__, 6 16 36 32)
CHORD(c_bi___, &macro_c_bi___, 6 16 33 35)
CHORD(s_c_bi___, &macro_s_c_bi___, 6 16 36 35)
CHORD(c_end, &macro_c_end, 29 28 30 33)
CHORD(s_c_end, &macro_s_c_end, 29 28 30 36)
CHORD(c_end_, &macro_c_end_, 29 28 30 33 34)
CHORD(s_c_end_, &macro_s_c_end_, 29 28 30 36 34)
CHORD(c_or, &macro_c_or, 3 18 33)
CHORD(s_c_or, &macro_s_c_or, 3 18 36)
CHORD(c_or_, &macro_c_or_, 3 18 33 34)
CHORD(s_c_or_, &macro_s_c_or_, 3 18 36 34)
CHORD(c_or__, &macro_c_or__, 3 18 33 32)
CHORD(s_c_or__, &macro_s_c_or__, 3 18 36 32)
CHORD(c_or___, &macro_c_or___, 3 18 33 35)
CHORD(s_c_or___, &macro_s_c_or___, 3 18 36 35)
CHORD(c_do, &macro_c_do, 30 3 33)
CHORD(s_c_do, &macro_s_c_do, 30 3 36)
CHORD(c_do_, &macro_c_do_, 30 3 33 34)
CHORD(s_c_do_, &macro_s_c_do_, 30 3 36 34)
CHORD(c_dt, &macro_c_dt, 30 26 33)
CHORD(s_c_dt, &macro_s_c_dt, 30 26 36)
CHORD(c_dt_, &macro_c_dt_, 30 26 33 34)
CHORD(s_c_dt_, &macro_s_c_dt_, 30 26 36 34)
CHORD(c_pen, &macro_c_pen, 20 29 28 33)
CHORD(s_c_pen, &macro_s_c_pen, 20 29 28 36)
CHORD(c_pen_, &macro_c_pen_, 20 29 28 33 34)
CHORD(s_c_pen_, &macro_s_c_pen_, 20 29 28 36 34)
CHORD(c_ex, &macro_c_ex, 29 10 33)
CHORD(s_c_ex, &macro_s_c_ex, 29 10 36)
CHORD(c_ex_, &macro_c_ex_, 29 10 33 34)
CHORD(s_c_ex_, &macro_s_c_ex_, 29 10 36 34)
CHORD(c_bg, &macro_c_bg, 6 17 33)
CHORD(s_c_bg, &macro_s_c_bg, 6 17 36)
CHORD(c_pw, &macro_c_pw, 20 2 33)
CHORD(s_c_pw, &macro_s_c_pw, 20 2 36)
CHORD(c_pw_, &macro_c_pw_, 20 2 33 34)
CHORD(s_c_pw_, &macro_s_c_pw_, 20 2 36 34)
CHORD(c_cnt, &macro_c_cnt, 15 28 26 33)
CHORD(s_c_cnt, &macro_s_c_cnt, 15 28 26 36)
CHORD(c_cnt_, &macro_c_cnt_, 15 28 26 33 34)
CHORD(s_c_cnt_, &macro_s_c_cnt_, 15 28 26 36 34)
CHORD(c_cnt__, &macro_c_cnt__, 15 28 26 33 32)
CHORD(s_c_cnt__, &macro_s_c_cnt__, 15 28 26 36 32)
CHORD(c_cnt___, &macro_c_cnt___, 15 28 26 33 35)
CHORD(s_c_cnt___, &macro_s_c_cnt___, 15 28 26 36 35)
CHORD(c_sit, &macro_c_sit, 25 16 26 33)
CHORD(s_c_sit, &macro_s_c_sit, 25 16 26 36)
CHORD(c_sit_, &macro_c_sit_, 25 16 26 33 34)
CHORD(s_c_sit_, &macro_s_c_sit_, 25 16 26 36 34)
CHORD(c_ri, &macro_c_ri, 18 16 33)
CHORD(s_c_ri, &macro_s_c_ri, 18 16 36)
CHORD(c_ri_, &macro_c_ri_, 18 16 33 34)
CHORD(s_c_ri_, &macro_s_c_ri_, 18 16 36 34)
CHORD(c_ri__, &macro_c_ri__, 18 16 33 32)
CHORD(s_c_ri__, &macro_s_c_ri__, 18 16 36 32)
CHORD(c_ri___, &macro_c_ri___, 18 16 33 35)
CHORD(s_c_ri___, &macro_s_c_ri___, 18 16 36 35)
CHORD(c_hse, &macro_c_hse, 13 25 29 33)
CHORD(s_c_hse, &macro_s_c_hse, 13 25 29 36)
CHORD(c_hse_, &macro_c_hse_, 13 25 29 33 34)
CHORD(s_c_hse_, &macro_s_c_hse_, 13 25 29 36 34)
CHORD(c_rd, &macro_c_rd, 18 30 33)
CHORD(s_c_rd, &macro_s_c_rd, 18 30 36)
CHORD(c_rd_, &macro_c_rd_, 18 30 33 34)
CHORD(s_c_rd_, &macro_s_c_rd_, 18 30 36 34)
CHORD(c_rd__, &macro_c_rd__, 18 30 33 32)
CHORD(s_c_rd__, &macro_s_c_rd__, 18 30 36 32)
CHORD(c_rd___, &macro_c_rd___, 18 30 33 35)
CHORD(s_c_rd___, &macro_s_c_rd___, 18 30 36 35)
CHORD(c_bt, &macro_c_bt, 6 26 33)
CHORD(s_c_bt, &macro_s_c_bt, 6 26 36)
CHORD(c_ch, &macro_c_ch, 15 13 33)
CHORD(s_c_ch, &macro_s_c_ch, 15 13 36)
CHORD(c_ch_, &macro_c_ch_, 15 13 33 34)
CHORD(s_c_ch_, &macro_s_c_ch_, 15 13 36 34)
CHORD(c_ch__, &macro_c_ch__, 15 13 33 32)
CHORD(s_c_ch__, &macro_s_c_ch__, 15 13 36 32)
CHORD(c_ch___, &macro_c_ch___, 15 13 33 35)
CHORD(s_c_ch___, &macro_s_c_ch___, 15 13 36 35)
CHORD(c_ben, &macro_c_ben, 6 29 28 33)
CHORD(s_c_ben, &macro_s_c_ben, 6 29 28 36)
CHORD(c_ben_, &macro_c_ben_, 6 29 28 33 34)
CHORD(s_c_ben_, &macro_s_c_ben_, 6 29 28 36 34)
CHORD(c_ben__, &macro_c_ben__, 6 29 28 33 32)
CHORD(s_c_ben__, &macro_s_c_ben__, 6 29 28 36 32)
CHORD(c_ben___, &macro_c_ben___, 6 29 28 33 35)
CHORD(s_c_ben___, &macro_s_c_ben___, 6 29 28 36 35)
CHORD(c_ron, &macro_c_ron, 18 3 28 33)
CHORD(s_c_ron, &macro_s_c_ron, 18 3 28 36)
CHORD(c_ron_, &macro_c_ron_, 18 3 28 33 34)
CHORD(s_c_ron_, &macro_s_c_ron_, 18 3 28 36 34)
CHORD(c_sem, &macro_c_sem, 25 29 14 33)
CHORD(s_c_sem, &macro_s_c_sem, 25 29 14 36)
CHORD(c_sem_, &macro_c_sem_, 25 29 14 33 34)
CHORD(s_c_sem_, &macro_s_c_sem_, 25 29 14 36 34)
CHORD(c_sem__, &macro_c_sem__, 25 29 14 33 32)
CHORD(s_c_sem__, &macro_s_c_sem__, 25 29 14 36 32)
CHORD(c_sem___, &macro_c_sem___, 25 29 14 33 35)
CHORD(s_c_sem___, &macro_s_c_sem___, 25 29 14 36 35)
